In [2]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="kevindaniel",
  password="123456789"
)

mycursor = mydb.cursor()

#mycursor.execute("CREATE DATABASE mydatabase")

In [ ]:
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

In [3]:
mydb = mysql.connector.connect(
  host="localhost",
  user="kevindaniel",
  password="123456789",
  database="mydatabase"
)

mycursor = mydb.cursor()

In [22]:
mycursor.execute("CREATE TABLE trial (ROW_NO int NOT NULL AUTO_INCREMENT, TwoThousand VARCHAR(255), FiveHundred VARCHAR(255), TwoHundred VARCHAR(255), Hundred VARCHAR(255), Fifty VARCHAR(255), Twenty VARCHAR(255), Ten VARCHAR(255), PRIMARY KEY (ROW_NO))")

# UPDATE

In [23]:
# DATA HOLDER
def temporary_container_ceation(no_of_banknotes):
    serial_number_holder = [""]*no_of_banknotes
    denomination_holder = [0]*no_of_banknotes
    return serial_number_holder, denomination_holder # LIST

serial_number_var, denomination_var = temporary_container_ceation(4)

denomination_var[0] = "TwoThousand"
denomination_var[1] = "TwoThousand"
denomination_var[2] = "Hundred"
denomination_var[3] = "Ten"

serial_number_var[0] = "one"
serial_number_var[1] = "two"
serial_number_var[2] = "three"
serial_number_var[3] = "four"


print(serial_number_var, denomination_var)

['one', 'two', 'three', 'four'] ['TwoThousand', 'TwoThousand', 'Hundred', 'Ten']

In [24]:
global SQL_data_insertion_log, SQL_total_row_count
SQL_data_insertion_log = [0, 0, 0, 0, 0, 0, 0] #PER COLUMN
SQL_total_row_count = 0                        #OVERALL ROW

In [34]:
def SQL_insert(SNO, DENOMINATION):
    global SQL_data_insertion_log, SQL_total_row_count
    for i in range(len(SNO)):
        if DENOMINATION[i] == 'TwoThousand':
            if SQL_total_row_count == SQL_data_insertion_log[0]:
                query = "INSERT INTO trial (" + DENOMINATION[i] +") VALUES ('" + SNO[i] +"')"
                query_str = str(query)
                mycursor.execute(query_str)
                mydb.commit()
                print("record inserted, ID:", mycursor.lastrowid)
                SQL_data_insertion_log[0] = SQL_data_insertion_log[0] + 1
                SQL_total_row_count = SQL_total_row_count + 1
    
            else:
                query = "UPDATE trial SET " + DENOMINATION[i] + " = '" + SNO[i] + "' WHERE ROW_NO = " + str(SQL_data_insertion_log[0]+1)
                query_str = str(query)
                mycursor.execute(query_str)
                mydb.commit()
                print(mycursor.rowcount, "record(s) affected")
                SQL_data_insertion_log[0] = SQL_data_insertion_log[0] + 1
                
        elif DENOMINATION[i] == 'FiveHundred':
            if SQL_total_row_count == SQL_data_insertion_log[1]:
                query = "INSERT INTO trial (" + DENOMINATION[i] +") VALUES ('" + SNO[i] +"')"
                query_str = str(query)
                mycursor.execute(query_str)
                mydb.commit()
                print("record inserted, ID:", mycursor.lastrowid)
                SQL_data_insertion_log[1] = SQL_data_insertion_log[1] + 1
                SQL_total_row_count = SQL_total_row_count + 1
    
            else:
                query = "UPDATE trial SET " + DENOMINATION[i] + " = '" + SNO[i] + "' WHERE ROW_NO = " + str(SQL_data_insertion_log[1]+1)
                query_str = str(query)
                mycursor.execute(query_str)
                mydb.commit()
                print(mycursor.rowcount, "record(s) affected")
                SQL_data_insertion_log[1] = SQL_data_insertion_log[1] + 1
                
        elif DENOMINATION[i] == 'TwoHundred':
            if SQL_total_row_count == SQL_data_insertion_log[2]:
                query = "INSERT INTO trial (" + DENOMINATION[i] +") VALUES ('" + SNO[i] +"')"
                query_str = str(query)
                mycursor.execute(query_str)
                mydb.commit()
                print("record inserted, ID:", mycursor.lastrowid)
                SQL_data_insertion_log[2] = SQL_data_insertion_log[2] + 1
                SQL_total_row_count = SQL_total_row_count + 1
    
            else:
                query = "UPDATE trial SET " + DENOMINATION[i] + " = '" + SNO[i] + "' WHERE ROW_NO = " + str(SQL_data_insertion_log[2]+1)
                query_str = str(query)
                mycursor.execute(query_str)
                mydb.commit()
                print(mycursor.rowcount, "record(s) affected")
                SQL_data_insertion_log[2] = SQL_data_insertion_log[2] + 1
                
        elif DENOMINATION[i] == 'Hundred':
            if SQL_total_row_count == SQL_data_insertion_log[3]:
                query = "INSERT INTO trial (" + DENOMINATION[i] +") VALUES ('" + SNO[i] +"')"
                query_str = str(query)
                mycursor.execute(query_str)
                mydb.commit()
                print("record inserted, ID:", mycursor.lastrowid)
                SQL_data_insertion_log[3] = SQL_data_insertion_log[3] + 1
                SQL_total_row_count = SQL_total_row_count + 1
    
            else:
                query = "UPDATE trial SET " + DENOMINATION[i] + " = '" + SNO[i] + "' WHERE ROW_NO = " + str(SQL_data_insertion_log[3]+1)
                query_str = str(query)
                mycursor.execute(query_str)
                mydb.commit()
                print(mycursor.rowcount, "record(s) affected")
                SQL_data_insertion_log[3] = SQL_data_insertion_log[3] + 1
                
        elif DENOMINATION[i] == 'Fifty':
            if SQL_total_row_count == SQL_data_insertion_log[4]:
                query = "INSERT INTO trial (" + DENOMINATION[i] +") VALUES ('" + SNO[i] +"')"
                query_str = str(query)
                mycursor.execute(query_str)
                mydb.commit()
                print("record inserted, ID:", mycursor.lastrowid)
                SQL_data_insertion_log[4] = SQL_data_insertion_log[4] + 1
                SQL_total_row_count = SQL_total_row_count + 1
    
            else:
                query = "UPDATE trial SET " + DENOMINATION[i] + " = '" + SNO[i] + "' WHERE ROW_NO = " + str(SQL_data_insertion_log[4]+1)
                query_str = str(query)
                mycursor.execute(query_str)
                mydb.commit()
                print(mycursor.rowcount, "record(s) affected")
                SQL_data_insertion_log[4] = SQL_data_insertion_log[4] + 1
                
        elif DENOMINATION[i] == 'Twenty':
            if SQL_total_row_count == SQL_data_insertion_log[5]:
                query = "INSERT INTO trial (" + DENOMINATION[i] +") VALUES ('" + SNO[i] +"')"
                query_str = str(query)
                mycursor.execute(query_str)
                mydb.commit()
                print("record inserted, ID:", mycursor.lastrowid)
                SQL_data_insertion_log[5] = SQL_data_insertion_log[5] + 1
                SQL_total_row_count = SQL_total_row_count + 1
    
            else:
                query = "UPDATE trial SET " + DENOMINATION[i] + " = '" + SNO[i] + "' WHERE ROW_NO = " + str(SQL_data_insertion_log[5]+1)
                query_str = str(query)
                mycursor.execute(query_str)
                mydb.commit()
                print(mycursor.rowcount, "record(s) affected")
                SQL_data_insertion_log[5] = SQL_data_insertion_log[5] + 1
                
        elif DENOMINATION[i] == 'Ten':
            if SQL_total_row_count == SQL_data_insertion_log[6]:
                query = "INSERT INTO trial (" + DENOMINATION[i] +") VALUES ('" + SNO[i] +"')"
                query_str = str(query)
                mycursor.execute(query_str)
                mydb.commit()
                print("record inserted, ID:", mycursor.lastrowid)
                SQL_data_insertion_log[6] = SQL_data_insertion_log[6] + 1
                SQL_total_row_count = SQL_total_row_count + 1
    
            else:
                query = "UPDATE trial SET " + DENOMINATION[i] + " = '" + SNO[i] + "' WHERE ROW_NO = " + str(SQL_data_insertion_log[6]+1)
                query_str = str(query)
                mycursor.execute(query_str)
                mydb.commit()
                print(mycursor.rowcount, "record(s) affected")
                SQL_data_insertion_log[6] = SQL_data_insertion_log[6] + 1
        else:
            pass
                
                
SQL_insert(serial_number_var, denomination_var)
#print(serial_number_var, denomination_var)

record inserted, ID: 5
record inserted, ID: 6
1 record(s) affected
1 record(s) affected

In [11]:
global SQL_remove_SNO_dispensed, column_name
SQL_remove_SNO_dispensed = [2, 0, 0, 0, 0, 0, 1]
column_name = ['TwoThousand', 'FiveHundred', 'TwoHundred', 'Hundred', 'Fifty', 'Twenty', 'Ten']

# BUG iteraton

In [36]:
def SQL_delete(delete):
    total_deletion = 0
    for i in range(len(delete)):
        total_deletion = total_deletion + delete[i]
    
    for i in range(len(delete)):
        if delete[i] > 0:
            for j in range(delete[i]):
                #query = "UPDATE trial SET TwoThousand = null WHERE ROW_NO = " + str(SQL_data_insertion_log[0])
                query = "UPDATE trial SET " + column_name[i] + " = null WHERE ROW_NO = " + str(SQL_data_insertion_log[i])
                query_str = str(query)
                mycursor.execute(query_str)
                mydb.commit()
                SQL_data_insertion_log[i] = SQL_data_insertion_log[i] - 1
                print(mycursor.rowcount, "record(s) deleted")
        else:
            pass
        
SQL_delete(SQL_remove_SNO_dispensed)

1 record(s) deleted
1 record(s) deleted
1 record(s) deleted

In [37]:
# SELECT
mycursor.execute("SELECT * FROM trial")
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

(1, 'one', None, None, 'three', None, None, 'four')
(2, 'two', None, None, 'three', None, None, 'four')
(3, 'one', None, None, 'three', None, None, None)
(4, 'two', None, None, 'three', None, None, None)
(5, None, None, None, None, None, None, None)
(6, None, None, None, None, None, None, None)

In [38]:
# DROP TABLE
sql = "DROP TABLE trial"
mycursor.execute(sql)

In [118]:
hello = ["TwoThousand", "hi"]

In [115]:
# INSERT

#sql = "INSERT INTO trial (Ten) VALUES ('1234hz67')"
asd = "INSERT INTO trial (" + hello[0] +") VALUES ('" + hello[0] +"')"
mycursor.execute(asd)
mydb.commit()
print("1 record inserted, ID:", mycursor.lastrowid)

1 record inserted, ID: 2

In [125]:
# UPDATE

#sql = "UPDATE trial SET Ten = 'Canyon 123' WHERE ROW_NO = 1"
sql = "UPDATE trial SET " + hello[0] + " = '" + hello[0] + "' WHERE ROW_NO = " + str(SQL_data_insertion_log[0])
mycursor.execute(sql)
mydb.commit()
print(mycursor.rowcount, "record(s) affected")

0 record(s) affected

In [173]:
sql = "UPDATE trial SET TwoThousand = null WHERE ROW_NO = " + str(SQL_data_insertion_log[0])
mycursor.execute(sql)
mydb.commit()
print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted