In [23]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="kevindaniel",
  password="123456789"
)
mycursor = mydb.cursor()
#mycursor.execute("CREATE DATABASE mydatabase")
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [24]:
mydb = mysql.connector.connect(
  host="localhost",
  user="kevindaniel",
  password="123456789",
  database="mydatabase"
)
mycursor = mydb.cursor()

In [61]:
mycursor.execute("CREATE TABLE Transation_log (ROW_NO int NOT NULL AUTO_INCREMENT, Location VARCHAR(255), Date VARCHAR(255), Time VARCHAR(255), BillValue_ByMerchant INT, TotalValue_ByCustomer INT, ImageAddress VARCHAR(255), SuspeciousCondition VARCHAR(255), TransactionState VARCHAR(255), PRIMARY KEY (ROW_NO))")

In [62]:
Transaction_Log_Column_Name = ["Location", "Date", "Time", "BillValue_ByMerchant", "TotalValue_ByCustomer", "ImageAddress", "SuspeciousCondition", "TransactionState"]
str_Transaction_Log_Column_Name = ""
for i in range(8):
    if i==7:
        str_Transaction_Log_Column_Name = (str_Transaction_Log_Column_Name + str(Transaction_Log_Column_Name[i]))        
    else:
        str_Transaction_Log_Column_Name = (str_Transaction_Log_Column_Name + str(Transaction_Log_Column_Name[i] + ", "))
        
print(str_Transaction_Log_Column_Name)

Location, Date, Time, BillValue_ByMerchant, TotalValue_ByCustomer, ImageAddress, SuspeciousCondition, TransactionState

In [63]:
data = ["001|Kolathur|Chennai|TamilNadu|600099", "22:10:2021:Friday", "10:35:27:AM", 200, 200, r"C:\Users\kevin\Desktop\TEST\100", "NotSuspecious", "Success"]

In [66]:
global TOTAL_NO_of_RECORD_in_TRANSACTION_LOG
TOTAL_NO_of_RECORD_in_TRANSACTION_LOG = 0

def SQL_Transaction_Log(transaction_data):
    global TOTAL_NO_of_RECORD_in_TRANSACTION_LOG
    #query = "INSERT INTO Transation_log (" + str(str_Transaction_Log_Column_Name) + ") VALUES ('" + transaction_data[0] + "', '" + transaction_data[1] + "', '" + transaction_data[2]"', " + transaction_data[3] + ", " + transaction_data[4] + ", '" + transaction_data[5] + "', '" + transaction_data[6]"')" 
    if TOTAL_NO_of_RECORD_in_TRANSACTION_LOG == 0:
        query = "INSERT INTO Transation_log (" + str(str_Transaction_Log_Column_Name) + ") VALUES ('"+transaction_data[0]+ "','"+transaction_data[1]+ "','"+transaction_data[2]+ "',"+str(transaction_data[3])+ ","+str(transaction_data[4])+ ",'"+transaction_data[5]+ "','"+transaction_data[6]+ "','"+transaction_data[7]+ "')"
        TOTAL_NO_of_RECORD_in_TRANSACTION_LOG = TOTAL_NO_of_RECORD_in_TRANSACTION_LOG + 1
    else:
        query = "INSERT INTO Transation_log (" + str(str_Transaction_Log_Column_Name) + ") VALUES ('"+transaction_data[0]+ "','"+transaction_data[1]+ "','"+transaction_data[2]+ "',"+str(transaction_data[3])+ ","+str(transaction_data[4])+ ",'"+transaction_data[5]+ "','"+transaction_data[6]+ "','"+transaction_data[7]+ "')WHERE ROW_NO = " + str(TOTAL_NO_of_RECORD_in_TRANSACTION_LOG)        
        TOTAL_NO_of_RECORD_in_TRANSACTION_LOG = TOTAL_NO_of_RECORD_in_TRANSACTION_LOG + 1
    query_str = str(query)
    mycursor.execute(query_str)
    mydb.commit()
    print("record inserted, ID:", mycursor.lastrowid)
    
SQL_Transaction_Log(data)

record inserted, ID: 2

In [67]:
# SELECT
mycursor.execute("SELECT * FROM Transation_log")
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

(1, '001|Kolathur|Chennai|TamilNadu|600099', '22:10:2021:Friday', '10:35:27:AM', 200, 200, 'C:UserskevinDesktopTEST100', 'NotSuspecious', 'Success')
(2, '001|Kolathur|Chennai|TamilNadu|600099', '22:10:2021:Friday', '10:35:27:AM', 200, 200, 'C:UserskevinDesktopTEST100', 'NotSuspecious', 'Success')

In [68]:
# DROP TABLE
sql = "DROP TABLE Transation_log"
mycursor.execute(sql)