In [10]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="kevindaniel",
  password="123456789"
)

mycursor = mydb.cursor()

#mycursor.execute("CREATE DATABASE mydatabase")

In [11]:
mydb = mysql.connector.connect(
  host="localhost",
  user="kevindaniel",
  password="123456789",
  database="mydatabase"
)

mycursor = mydb.cursor()

In [7]:
mycursor.execute("CREATE TABLE trial_illicit (ROW_NO int NOT NULL AUTO_INCREMENT, TwoThousand VARCHAR(255), FiveHundred VARCHAR(255), TwoHundred VARCHAR(255), Hundred VARCHAR(255), Fifty VARCHAR(255), Twenty VARCHAR(255), Ten VARCHAR(255), PRIMARY KEY (ROW_NO))")

In [74]:
# DATA HOLDER
def temporary_container_ceation(no_of_banknotes):
    serial_number_holder = [""]*no_of_banknotes
    denomination_holder = [0]*no_of_banknotes
    return serial_number_holder, denomination_holder # LIST

serial_number_var, denomination_var = temporary_container_ceation(4)

denomination_var[0] = "TwoThousand"
denomination_var[1] = "TwoThousand"
denomination_var[2] = "TwoThousand"
denomination_var[3] = "Ten"

serial_number_var[0] = "one"
serial_number_var[1] = "stollen2"
serial_number_var[2] = "stollen3"
serial_number_var[3] = "four"

print(serial_number_var, denomination_var)
column_name = ['TwoThousand', 'FiveHundred', 'TwoHundred', 'Hundred', 'Fifty', 'Twenty', 'Ten']

['one', 'stollen2', 'stollen3', 'four'] ['TwoThousand', 'TwoThousand', 'TwoThousand', 'Ten']

In [77]:
def SQL_illicit_record(SNO, Denomination):
    STOLLEN_CONDITION = 0
    for i in range(len(Denomination)):
        mycursor.execute("SELECT " + Denomination[i] + " FROM trial_illicit")
        myresult = mycursor.fetchall()
        for x in myresult:
            check_result = (x[0] == SNO[i])
            if check_result == True:
                STOLLEN_CONDITION = STOLLEN_CONDITION + 1
            else:
                pass
    return STOLLEN_CONDITION

stollen_bank_notes = SQL_illicit_record(serial_number_var, denomination_var)
print(stollen_bank_notes)

2

In [85]:
# INSERT

#query = "INSERT INTO trial (" + column_name[0] +") VALUES ('" + SNO[i] +"')"
query = "INSERT INTO trial_illicit (" + column_name[0] +") VALUES ('stollen3')"

query_str = str(query)
mycursor.execute(query_str)
mydb.commit()
print("record inserted, ID:", mycursor.lastrowid)

record inserted, ID: 1

In [ ]:
# UPDATE

query = "UPDATE trial SET " + DENOMINATION[i] + " = '" + SNO[i] + "' WHERE ROW_NO = " + str(SQL_data_insertion_log[0]+1)
query_str = str(query)
mycursor.execute(query_str)
mydb.commit()
print(mycursor.rowcount, "record(s) affected")

In [86]:
# SELECT
mycursor.execute("SELECT TwoThousand FROM trial_illicit")
myresult = mycursor.fetchall()
print(myresult)
for x in myresult:
  print(x)

[('stollen3',)]
('stollen3',)

In [ ]:
# DROP TABLE
sql = "DROP TABLE trial_illicit"
mycursor.execute(sql)